
@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-thin.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-thinoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-thinoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-thinitalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-extralight.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-extralightoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-extralightoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-extralightitalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-light.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-lightoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-lightoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-lightitalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-regular.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-oblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-oblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-italic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-medium.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-mediumoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-mediumoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-mediumitalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-semibold.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-semiboldoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-semiboldoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-semibolditalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-bold.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-boldoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-boldoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-bolditalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-extrabold.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-extraboldoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-extraboldoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-extrabolditalic.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('fonts/vendor/iosevka/iosevka-heavy.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('fonts/vendor/iosevka/iosevka-heavyoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('fonts/vendor/iosevka/iosevka-heavyoblique.woff2') format('woff2') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('fonts/vendor/iosevka/iosevka-heavyitalic.woff2') format('woff2') format('truetype');
}
