$breakpoint-580: 992px;
$breakpoint-320: 640px;

$space-xsm: 9px;
$space-sm: 16px;
$space-md: 24px;
$space-l: 32px;
$space-xl: 50px;

$color-text: #48545C;
$color-text-bright: #61727E;
$color-text-gray-soft: #c4d2e2;
$color-text-blue-soft: #8796af;
$color-text-purple: #685bc7;
$color-text-pink: #ea51b2;
$color-text-white: #f1f2f8;

$opacity-qmx: 0.9
