@import 'vendor/bootstrap/bootstrap';

$fa-font-path: "fonts/vendor/fontawesome";
@import 'vendor/fontawesome/fontawesome';
@import 'vendor/fontawesome/regular';
@import 'vendor/fontawesome/solid';
@import 'vendor/fontawesome/brands';

@import 'variables-light-mode';
@import 'variables-dark-mode';

@import 'fonts';
@import 'timeline';
@import 'dots-nav';

html {
  min-width: 320px;
}

body {
  font-family: "Barlow", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  font-size: 18px;
  background-color: var(--switch-color-background);
  color: var(--switch-color-text);

  @media (max-width: $breakpoint-320) {
    font-size: 16px;
  }

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tab {
  margin-right: $space-sm;
}

.flashing {
  animation-duration: 1.5s;
  animation-name: flashingkf;
  animation-iteration-count: infinite;
  transition: none;
}

@keyframes flashingkf {
  0% {
    opacity: $opacity-qmx;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: $opacity-qmx;
  }
}

a {

  &,
  &:visited,
  &:focus {
    color: var(--switch-color-text-purple);
    font-weight: bold;
    text-decoration: none;
    opacity: $opacity-qmx;
  }

  &:hover {
    cursor: pointer;
    color: var(--switch-color-red-pink);
    text-decoration: none;
    opacity: $opacity-qmx;
  }
}

.reversea {

  &,
  &:visited,
  &:focus {
    color: var(--switch-color-red-pink);
  }

  &:hover {
    color: var(--switch-color-red-pink-darker);
  }
}

%title {
  font-size: 1.5em;
}

.larger {
  font-size: 1.15em;
}

.smaller {
  font-size: 0.8em;
}

%parent-section {
  display: block;
  text-align: center;
  padding-top: $space-xl;
  padding-bottom: $space-xl;

  &.half {
    padding-bottom: $space-md;
  }

  @media (max-width: $breakpoint-320) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

hr.rounded {
  border: 2px solid var(--switch-color-red-pink);
  border-radius: 5px;
  width: 5%;
  opacity: 0.7;
}

.divider-section {}

.welcome-section {
  @extend %parent-section;
  @extend .larger;

  background-image: linear-gradient(0deg, var(--switch-color-text-purple) 0%, var(--switch-color-blue) 100%);
  clip-path: ellipse(100% 56% at 50% 44%);
  height: 30em;
  // height: 100vh;

  .container {
    width: 100%;
    margin: 0 auto;

    #toggle-dark-mode {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1000;
      padding: 10px 20px;
      background-color: #ccc;
      border: none;
      cursor: pointer;
    }

    .avatar {
      opacity: $opacity-qmx;
      padding-bottom: $space-l;
    }

    @keyframes morph {

      0%,
      100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
      }

      33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
      }

      66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
      }
    }

    .blob {
      overflow: hidden;
      width: 16rem;
      height: 16rem;
      border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;

      background-color: var(--switch-color-blue);
      background-size: cover;
      background-position: center;
      animation: morph 3.75s linear infinite;
    }

    .title {
      position: relative;
      z-index: 101;
      font-size: 1.65em;
      font-weight: bold;
      line-height: 1.4;
      color: var(--switch-color-dark-gray);
    }

    .subtitle {
      position: relative;
      z-index: 101;

      .trustbk {
        font-size: 1.1em;
      }

      color: var(--switch-color-dark-gray);
    }

    .description {
      @extend %description;
      position: relative;
      z-index: 101;
      max-width: 590px;
      color: var(--switch-color-dark-gray);
    }

    .header-image {
      display: inline-block;
      max-width: 880px;
      height: auto;
      margin: 0 auto;

      @media (min-width: $breakpoint-580) {
        z-index: 100;
        position: relative;
        margin-top: -120px;
      }
    }

    %description {
      @extend .smaller;
      color: var(--switch-color-dark-gray);
      margin: $space-xsm auto;
    }

    .move-down {
      padding-top: 2em;
      color: var(--switch-color-dark-gray);
      animation: downdown 2s infinite alternate;
    }

    @keyframes downdown {
      50% {
        transform: translateY(1rem);
      }
    }
  }
}

.presentation-section {
  @extend %parent-section;
  @extend .larger;

  .container {
    .description {
      @extend %description;
    }

    i {
      @extend %icon;
    }
  }
}

.tools-section {
  @extend %parent-section;
  @extend .larger;

  .container {
    .description {
      @extend %description;
      opacity: $opacity-qmx;

      .fixed-blob {
        overflow: hidden;
        width: 25rem;
        height: auto;
        border-radius: 65% 46% 84% 30%/30% 69% 45% 80%;
        // background-image: linear-gradient(0deg, var(--switch-color-blue) 0%, var(--switch-color-green) 100%);
        // background-color: var(--switch-color-text-purple);
        background-image: linear-gradient(0deg, var(--switch-color-text-purple) 30%, var(--switch-color-blue) 100%);
        background-size: cover;
        background-position: center;
      }
    }
  }
}

%icon {
  color: var(--switch-color-red-pink);
  padding-right: 5px;
  vertical-align: middle;
}

.education-section {
  @extend .presentation-section;

  .title {
    @extend %title;
  }
}

.work-section {
  @extend %parent-section;

  .tm {
    // shoud not be here, fixme: move to _timeline.scss
    overflow: visible;
  }

  .container {
    .title {
      @extend %title;
    }

    .sunday-line-container {
      display: flex;
      align-items: baseline;
      justify-content: end;
      flex-wrap: wrap;

      @media (max-width: $breakpoint-320) {
        justify-content: center;
      }
    }

    .sunday-pulse-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: .2em;
      flex-shrink: 0;

      @media (max-width: $breakpoint-580) {
        display: none;
      }
    }

    .sunday-image-pulse {
      position: absolute;
      background: transparent;
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(255, 0, 102, .2);
      height: 2em;
      width: 2em;
      transform: scale(1);
      animation: pulse-red 3s infinite;
      -webkit-animation: pulse-red 3s infinite;
      will-change: transform, box-shadow;
    }

    @keyframes pulse-red {
      0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 102, .2);
      }

      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 0, 102, 0);
      }

      100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 102, 0);
      }
    }

    .sunday-image-container {
      position: relative;
      z-index: 100;
      opacity: 1;
    }

    .sunday-circle-image:hover {
      transform: scale(7);
      -webkit-transform: scale(7);
      opacity: 1;
    }

    .sunday-circle-image {
      width: 2em;
      height: 2em;
      clip-path: circle(50%);
    }

    .sunday-description-container {
      display: flex;
      // flex: 1;
      width: 70%;

      @media (max-width: $breakpoint-580) {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.certification-section {
  @extend .presentation-section;

  .title {
    @extend %title;
  }

  i {
    @extend %icon;
  }
}

.waves {
  display: block;
  width: 100%;
  height: auto;
  background-color: transparent;
}

.footer-section {
  @extend %parent-section;
  font-size: 1.15em;
  padding-top: $space-xl;
  height: 15em;
  background: var(--switch-color-text-purple);
  color: white;

  .social {
    word-spacing: 0.5em;
    padding-top: 2em;

    a {

      &,
      &:visited,
      &:focus {
        color: white;
        font-weight: bold;
        text-decoration: none;
        opacity: $opacity-qmx;
      }

      &:hover {
        cursor: pointer;
        color: var(--switch-color-red-pink);
        text-decoration: none;
        opacity: $opacity-qmx;
      }
    }
  }
}